body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ActivityHours.css */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.flex-item {
  flex: 1;
  margin-right: 10px;
}

.teams-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #333;
}

.team-card {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-card h3 {
  color: #0056b3;
}

.employee-table {
  margin-top: 20px;
}

.employee-table th, .employee-table td {
  text-align: center;
}

.loader, .error {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
}



.employee-list-title {
  text-align: center;
}

.employee-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.employee-card {
  margin: 5px;
  transition: transform 0.3s;
}

.employee-card:hover {
  transform: scale(1.05);
}


.card {
  border-radius: 90px;
  padding: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.employee-info {
  display: flex;
  align-items: center;
}

.info-label {
  margin-right: 10px;
}

.info-value {
  font-weight: bold;
}

.employee-card {
  background-color: #2b3e3d;
  color: white;
  border-radius: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  padding: 10px;

}
.teams-container {
  margin: 20px;
}

.accordion {
  margin-bottom: 10px; /* Adds space between accordions */
}

.accordion .MuiAccordionSummary-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .accordion .MuiAccordionSummary-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .accordion .MuiAccordionSummary-content > *:first-child {
    margin-bottom: 10px;
  }

  .teams-container {
    margin: 10px;
  }

  .accordion-details {
    max-height: none; /* Remove fixed height for smaller screens */
  }

  .table-cell {
    padding: 2px;
  }
}

.loader {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

.error {
  color: red;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}


